/*   Table of contents

0. GLOBAL RESET [ +element style reset and minifixes ]
1. BASE LAYOUT  [ LAYOUT. Style of all base elements like body, wrapper, header, content, extras, footer, etc. ]
2. GLOBAL STYLE [ Global styles ]
3. CONTENT      [ All elements fully relative to content and belong to it ]
4. HEADER       [ Header, Logo, Header-Menu, etc ]
5. FOOTER       [ Copyright, developers info etc ]

(c) SublimeYe, 2011
Skype: sublimeye

--------------------------------*/

/*   0. Global reset + holy shit ;)
--------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;vertical-align:baseline}
input,button,textarea,select{margin:0;font-size:1em}
table{border-collapse:collapse;border-spacing:0}
blockquote,q{quotes:none}
dfn,i,cite,var,address,em{font-style:normal}
th,b,strong,h1,h2,h3,h4,h5,h6{font-weight:normal}
/* CLEAR FIX*/
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}

/*   1. Base layout
--------------------------------*/
body {
	background: #F4ECD5;
}

.page {
	min-width: 1102px;
	max-width: 1302px;
	margin: 0 auto;
	padding: 0 49px;
}

.page-header {

}

.page-body {
	background: #FFFFFF;
	border: 1px solid #EEE2C2;
	border-bottom: 0;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: -2px 0 4px #EEE2C2;
}


/*   2. GLOBAL STYLE
--------------------------------*/

/*   3. CONTENT
--------------------------------*/

/*   4. HEADER
--------------------------------*/
.page-header-nav {
	position: relative;
	min-height: 24px;
	background: #FDFBF4;
	border: 1px solid #EFE4C5;
	border-width: 0px 1px 1px 1px;
	box-shadow: 0 1px 3px #F1E7CB;
}

.header-nav-list li {
	float: left;
	list-style: none;
	margin: 0 16px;
}

.header-nav-list a {
	display: inline-block;
}

.page-header-nav .active {
	min-height: 24px;
	border-bottom: 1px solid #CE3106;
	box-shadow: 0 0 6px  #F3F2F2 inset
}

.header-nav-addon {
	float: right;
	line-height: 20px;
}

.header-nav-addon .ico {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	vertical-align: middle;
	background: #E8AB00;
}

.page-header-content {
	position: relative;
}

.header-logo {
	position: absolute;
	left: 0;
	top: 26px;
}

.header-info {
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
	background: #efefef;
}

	.header-phones {
		float: left;
	}

	.header-search {
		float: left;
		clear: left;
	}

	.header-timetable {
		float: right;
	}

		.header-timetable .days {
			padding-top: 21px;
			float: left;
		}

		.header-timetable .time {
			float: left;
		}

		.header-timetable .title {
			line-height: 20px;
		}

		.header-timetable .online {
			clear: left;
		}

.header-cart {
	position: absolute;
	right: -49px;
	top: 0;
}

.order-details {
	background: #F4EDDA;
	border: 1px solid #E08969;
	/*border-right: 0;*/
}

.page-header-categories {
	
}